# Pump it UP: Data Mining the Water Table

This notebook is dedicated to **Drivendata Competition** [here](https://www.drivendata.org/competitions/7/pump-it-up-data-mining-the-water-table/page/23/).

**Objective:**
<br>
To predict which pumps are __functional__, __need some reparis__, and __not working at all__.
<br>

From above objective, the problem is to predict/classify pumps condition into one of those classes. In this notebook, the workflows/outline are below:

1. [Import The Dataset](##import-the-dataset)
2. [Exploratory Analysis](##exploratory-analysis)
3. [Build The Model](##build-the-model)
4. [Training](##training)
5. [Test The Model](##test-the-model)

---

## Import The Dataset

- [x] Import necessary libraries and package
- [x] Import the dataset

In [1]:
# import necesary library
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sn
import os
from IPython.display import display

# from sklearn.preprocessing import ...
# from sklearn.model_selection import ...

Import the dataset ..

In [2]:
!tree

.
├── Predicting_Waterpoint_Condition.ipynb
└── dataset
    ├── SubmissionFormat.csv
    ├── test.csv
    ├── train.csv
    └── train_label.csv

1 directory, 5 files

In [3]:
# load the data
raw_train = pd.read_csv('dataset/train.csv', header="infer")
raw_test = pd.read_csv('dataset/test.csv', header="infer")
label_train = pd.read_csv('dataset/train_label.csv', header="infer")

In [4]:
print('training set: ')
display(raw_train.head(3))
print('training label: ')
display(label_train.head(3))
print('testing set: ')
display(raw_test.head(3))

training set:

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,...,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,...,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,...,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe

training label:

      id status_group
0  69572   functional
1   8776   functional
2  34310   functional

testing set:

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,50785,0.0,2013-02-04,Dmdd,1996,DMDD,35.290799,-4.059696,Dinamu Secondary School,0,...,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,other,other
1,51630,0.0,2013-02-04,Government Of Tanzania,1569,DWE,36.656709,-3.309214,Kimnyak,0,...,never pay,soft,good,insufficient,insufficient,spring,spring,groundwater,communal standpipe,communal standpipe
2,17168,0.0,2013-02-01,NaN,1567,NaN,34.767863,-5.004344,Puma Secondary,0,...,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,other,other

## Exploratory Analysis

- [ ] Number of rows of dataset
- [ ] Number of features
- [ ] Determine numerical and categorical features
- [ ] Feature Engineering
- [ ] Create Analytical Based Table (ABT)

## Build The Model

- [ ] Description of some of models candidates, along with its pros and cons (min. 5 models to consider)
- [ ] Choose 3 of them based on pros/cons and the most suited model based on the data characteristics
- [ ] Code the model
- [ ] Create the metrics that best suited with respect to the problem
- [ ] Create the whole general Pipeline for training and evaluate the model